.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.icons {
  right: 3%;
  position: absolute;
  top: 2%;
}

.headerDiv {
  height: 400px;
  width: 100%;
  padding: 0 5%;
  overflow: hidden;
  box-shadow: inset 0 -40px 40px -20px #f8f8f8;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.7em;
}

.sectionHeader {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.5em;
  }

  .headerDiv {
    height: 100vh;
  }
}
