.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.h1 {
  margin-bottom: 40px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #098c8c;
  display: inline-block;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 1px;
  left: 0;
  background-color: #098c8c;
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
