.wrapper {
  width: 90%;
  max-width: 450px;
  margin-bottom: 20px;
}

.inputs {
  border: none;
  border-radius: 3px;
  box-shadow: 0px 8px 13px -7px rgba(0, 0, 0, 0.6);
  width: 100%;
  transition: all 0.5s ease;
}

.inputs:focus {
  box-shadow: none;
  outline: none;
}

.field label {
  letter-spacing: normal;
  transition: all 0.5s ease;
}

.field:focus-within label {
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.textarea {
  resize: none;
  height: 180px;
}

.button {
  box-shadow: 0px 8px 13px -7px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  background-color: #098c8c;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #066f6f;
  transition: all 0.3s ease;
}

.button:focus {
  background-color: #066f6f;
}

.button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.error {
  color: rgb(156, 41, 41);
  float: right;
  font-size: small;
}
