.divider {
  position: relative;
  width: 100%;
  height: 2px;
  margin: 20px 0;
}

.divider:after {
  content: '';
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    #098c8c,
    transparent
  );
}
